name: CI

on:
  push:
    branches: [ master ]
    tags: [ '*' ]
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '30 2 */10 * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build ISO

    container:
      image: debian:latest
      volumes:
        - /proc:/proc
      options: --privileged

    steps:
      - uses: actions/checkout@v6

      - name: Set environment variables
        run: |
          echo REPO=$(pwd) >> ${GITHUB_ENV}
          echo LB=$(pwd)/live-build >> ${GITHUB_ENV}

      - name: Install dependencies
        run: |
          apt-get update
          apt-get install -y live-build make build-essential wget git unzip colordiff apt-transport-https rename ovmf rsync python3-venv gnupg

      - name: Create live-build directory structure
        run: |
          mkdir ${{ env.LB }}
          cd ${{ env.LB }}

      - name: Adjust live-build configuration
        run: |
          cp -vr ${REPO}/auto ${{ env.LB }}/auto
          cp -vr ${REPO}/config ${{ env.LB }}/config

      - name: Extra Packages
        run: |
          mkdir -p ${{ env.LB }}/cache/downloads/ ${{ env.LB }}/config/packages/
          wget "https://cdn.akamai.steamstatic.com/client/installer/steam.deb" \
            -O ${{ env.LB }}/config/packages/steam.deb
          wget "https://discord.com/api/download?platform=linux&format=deb" \
            -O ${{ env.LB }}/config/packages/discord.deb
          for file in $(find ${{ env.LB }}/config/packages -name "*.deb" -type f); do dpkg-name ${file}; done

      - name: Restore cache
        uses: actions/cache/restore@v5
        with:
          path: ${{ env.LB }}/cache/packages*
          key: packages-cache

      - name: Building
        run: |
          cd ${{ env.LB }}
          lb clean --all
          lb config
          lb build

      - name: Save cache
        uses: actions/cache/save@v5
        with:
          path: ${{ env.LB }}/cache/packages*
          key: packages-cache-${{ github.run_id }}

      - name: Uploading ISO 
        uses: actions/upload-artifact@v7
        with:
          name: iso
          path: ${{ env.LB }}/live-image-amd64.hybrid.iso
          if-no-files-found: error

      - name: Mount ISO to extract required files (filesystem.squashfs, vmlinuz, initrd.img)
        run: |
          mkdir ${{ env.LB }}/tmp/
          mount -o loop ${{ env.LB }}/live-image-amd64.hybrid.iso ${{ env.LB }}/tmp

      - name: Uploading netboot files
        uses: actions/upload-artifact@v7
        with:
          name: netboot-files
          path: |
            ${{ env.LB }}/tmp/live/vmlinuz
            ${{ env.LB }}/tmp/live/initrd.img
            ${{ env.LB }}/tmp/live/filesystem.squashfs
          if-no-files-found: error

      - name: Cleanup
        if: always()
        run: |
          cd ${{ env.LB }}
          lb clean --all
          rm -rvf config/packages/
          rm -rf .venv/
          lb clean --purge
          rm -rvf cache/downloads/
          rm -rf iso/